@import '/variables.scss';

@mixin clearfix(){
  &:after{
    content:"";
    clear: both;
    display: block;
  }
}

@mixin button(){
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: var(--primary);
  border: solid 0.5px var(--primary);
  color: white;
  outline: none;
  transition: all 0.3s;
  box-shadow: 0 1rem 3rem rgba(black, .4);
  &:hover{
    background-color: darken($primary, 10%);
    transform: translateY(-.2rem);
  }
  &:active, &:focus{
    transform: translateY(0);
    box-shadow: 0 .4rem 1rem rgba(black, .4);
  }
}

@mixin ticket-button{
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
  outline: none;
}

@mixin alt-button(){
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 2px var(--secondary-five);
  outline: none;
}

@mixin cancel-button(){
  background: none;
  outline: none;
  border: none;
  color: var(--secondary-six);
}

@mixin drop-down($width){
  border: solid 0.4px black;
  padding: var(--spacing);
  margin-top: var(--spacing);
  background-color: white;
  position: absolute;
  width: $width;
  z-index: 1;
}

@mixin show-button(){

}
