@mixin clearfix(){
  &:after{
    content:"";
    clear: both;
    display: block;
  }
}

@mixin button(){
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(to right, var(--gradient-one));
  border: solid 0.5px var(--secondary-three);
  color: white;
  transition: all 0.5s linear;
  &:hover{
    color: var(--primary);
    border: solid 0.5px var(--primary);
    background: white;
  }
  &:active{
    background: var(--secondary-four)
  }
}

@mixin alt-button(){
  padding: 10px 20px;
  border-radius: 0px;
}
