@import '/variables.scss';

@mixin clearfix(){
  &:after{
    content:"";
    clear: both;
    display: block;
  }
}

@mixin drop-down($width){
  border: solid 0.4px black;
  padding: var(--spacing);
  margin-top: var(--spacing);
  background-color: white;
  position: absolute;
  width: $width;
  z-index: 1;
}

